body {
    font-family: 'Montserrat';
}

#title {
    background-color: #ff4c68;
    color: #fff;
}

h1 {
    font-family: 'Montserrat', sans-serif;
}

.big-heading {
    font-size: 4rem;
    line-height: 1.5;
}

.container-fluid {
    padding: 3% 10% 7%;
    /* it takes 100% width */
}